.header{
    margin: 50px 0;
    text-align: center;
    position: relative;
    .header__headline{
        color:var(--darkBlue);
    
    }
    .header__headline::before{
        content: url(/images/pattern-circles.svg);
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -40%);
        z-index: -1;
    }
    .header__text {
        color: var(--greyBlue);
        white-space: pre
        ;
       
    }
}

section.card {
    text-align: center;
    div.card__top{
        color: var(--greyBlue);
        background-color: white;
        width: 80%;
        margin:0 auto;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: center;
    
    .card__top__text{
           .card__top__span-text{
margin-right: 5px;
           }
        flex-basis:100%;
        
       }
       .card__top__input{
           flex-basis: 100%;
       }
       .card__top__label{
           flex-basis: 80%;
           justify-content: center;
       }
    }
}

// .header::before{
//     content: url(/images/pattern-circles.svg);
//     position: absolute;
//     color: black;
//     top: 0;
//     right: 50%;
// }